@model KonigLabs.Models.ViewContact

<form id="ajax-contact-form">
    @Html.ValidationMessageFor(m => m.Name)<br />
    @Html.TextBoxFor(m => m.Name, new { placeholder = "Ваше имя", @class = "col-xs-12  col-md-12", autocomplete = "off" })<br/>
    @Html.ValidationMessageFor(m => m.Email)<br />
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "col-xs-12  col-md-12", autocomplete = "off" })<br />
    @Html.ValidationMessageFor(m => m.Phone)<br />
    @Html.TextBoxFor(m => m.Phone, new { placeholder = "Телефон", @class = "col-xs-12  col-md-12", autocomplete = "off" })<br />
    @Html.ValidationMessageFor(m => m.Text)<br />
    @Html.TextAreaFor(m => m.Text, new { placeholder = "Ваше сообщение", @class = "col-xs-12  col-md-12", autocomplete = "off" })<br />    
    <div class="clear"></div>
    <input type="submit" class="btn marg-right10" value="отправить">
    <div class="clear"></div>
</form>
