@using KonigLabs.Models
@using KonigLabs.Core
@model KonigLabs.Models.LandingPage

<div id="header">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div id="logo">
                <a class="scroll" href="#home"><img src="/Content/media.mobile/img/logo.png" alt="" /></a>
            </div>
            <ul id="menu">
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#home">Home</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#about">Services</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#team">Team</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#work">Our projects</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Blog())">Blog</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#contact">Details</a></li>
            </ul>
            <div id="nav-toggle">
                @switch (Model.Language)
                {
                    case LocalEntity.EN:
                        <a class="lang" href="@Url.ChangeLang(LocalEntity.RU)">Ru</a>
                        <a class="lang" href="@Url.ChangeLang(LocalEntity.EN)"><strong>En</strong></a>
                        break;
                    case LocalEntity.RU:
                    <a class="lang active" href="@Url.ChangeLang(LocalEntity.RU)"><strong>Ru</strong></a>
                    <a class="lang" href="@Url.ChangeLang(LocalEntity.EN)">En</a>
                        break;
                }
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>
<section id="home" class="top_video">

    <div id="content">

        <div class="byline wow slideInLeft pad45" data-wow-delay="6s">
            We develop complex
        </div>

        <h1 class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="4s">
            TURNKEY SOFTWARE SOLUTIONS
        </h1>

        <div class="name wow bounceInDown" data-wow-duration="3s" data-wow-delay="2s">
            residing in Kaliningrad, working worldwide!
        </div>

        <div class="text-center pad30">
            <a href="@Url.Action(MVC.Home.Index())#about" class="scroll">
                <i class="fa fa-caret-down fa-3x fa-inverse wow rotateIn" data-wow-duration="1s" data-wow-delay="8s"></i>
            </a>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig text-center embo" data-wow-offset="80" data-wow-duration="2s">
                    What we do…
                </h1>

                <div class="lead wow fadeInRightBig text-center" data-wow-offset="80" data-wow-duration="2s">
                    Our professionals get through the entire lifespan of each project.<br /> That is just what <strong>our customers</strong> appreciate.
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="service">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h6>Interface design</h6>
                    <p>
                        Our team will create the exquisite design for your website, portal, mobile or web-based application. Design development includes the adaptive layout that will perfectly fit any type of screen.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h6>Visual design</h6>
                    <p>
                        We develop corporate style, logos, visiting cards, advertising materials. Our professionals shape the ideas with lines and bring them to life. And… yes, we create smooth and clean design!
                    </p>
                </div>
                <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                    <div class="service">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h6>Website promotion</h6>
                    <p>
                        By drawing new visitors to your website, we boost the number of your potential customers.
                    </p>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service">
                    <i class="fa fa-cloud"></i>
                </div>
                <h6>Websites, web-based applications, portals</h6>
                <p>
                    Easily scalable architecture, carefully designed and developed by our team helps to achieve reliability and flexibility of your software solutions.
                </p>
            </div>
            <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                <div class="service">
                    <i class="fa fa-cogs"></i>
                </div>
                <h6>Desktop applications and services</h6>
                <p>
                    Developing highly complex applications for Windows-based operating systems, we pay great attention to quality of code and architecture.
                </p>
            </div>
            <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                <div class="service">
                    <i class="fa fa-wrench"></i>
                </div>
                <h6>Mobile and cloud-based applications</h6>
                <p>
                    Cross-platform applications (Android, iOS, Windows Phone), cloud-based applications (AWS, Azure) – that’s what you come to us for.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="charts">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <div class="row">
                    <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                        Application domain of our projects:
                    </h1>

                    <div class="col-xs-4 text-center  pie wow bounceIn" data-wow-delay="1s">
                        <span class="chart1">
                            <span class="percent">50%</span>
                        </span>
                        <p class="center">Global online services</p>
                    </div>
                    <div class="col-xs-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.5s">
                        <span class="chart2">
                            <span class="percent">20%</span>
                        </span>
                        <p class="center">Complex cloud-based databases</p>
                    </div>
                    <div class="col-xs-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.8s">
                        <span class="chart3">
                            <span class="percent">30%</span>
                        </span>
                        <p class="center">Start-ups</p>
                    </div>
                </div>
            </div>
            <div class="pad30"></div>
        </div>
    </div>
</section>

<section id="team">
    <div class="container">
        <div class="col-sm-12 col-lg-12">
            <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                About us
            </h1>

            <div class="lead  wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                Our <strong>team</strong> combines professionals with different skills
            </div>
        </div>

        <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
            Our team members get a charge out of IT-innovations and complicated algorithms. We put together our talents to make the life of our customers easier. We are always open for dialog.
        </p>
        <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
            Wisely organized business process and high professionalism make it possible for us to handle the problems of our customers in the best possible way. That is precisely why we regularly participate in the profession-oriented trainings and conferences. Our specialists constantly develop their skills while interacting with the best professionals in their fields from around the world.
        </p>
    </div>





    <div class="container">
        <div class="row text-center">
            <div class="pad15">
                <a href="@Url.Action(MVC.Home.Index())#contact" class="scroll btn marg-right10 wow bounceIn" data-wow-offset="80" data-wow-duration="2s">DETAILS</a>
                <a href="@Url.Action(MVC.Home.Index())#work" class="scroll btn marg-right10 wow bounceIn" data-wow-offset="80" data-wow-duration="2s">PORTFOLIO</a>
                <a href=".vacancy" class="scroll btn wow bounceIn accordion-toggle" data-toggle="collapse">JOBS</a>
                <div class="vacancy collapse">
                    <div class="pad15"></div>
                    <h2>Jobs information will be here soon</h2>
                    <div class="pad30"></div>
                </div>
                <div class="pad15"></div>

                <div id="grid-container" class="cbp-l-grid-team">
                    <ul class="cbp-l-grid-team">
                        @foreach (var member in Model.Members)
                        {
                            Html.RenderPartial("~/Views/Shared/DisplayTemplates/Member.Mobile.cshtml", member);
                        }
                    </ul>
                </div>

                <div class="pad60"></div>
            </div>
        </div>
    </div>
</section>
<section id="milestones">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    We are have
                </h1>

                <div class="col-xs-12 text-center">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-1"></div>
                        <p class="light">years of experience in total for all team members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    our everyday activity
                </h1>
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Our recent projects:
                </div>

                <div id="filters-container" class="cbp-l-filters-button">
                    <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All<span class="cbp-filter-counter"></span></button>
                    @foreach (var category in Model.Categories)
                    {
                        <button data-filter="@category.GetFilter()" class="cbp-filter-item-active cbp-filter-item">
                            @category.Name
                            <span class="cbp-filter-counter"></span>
                        </button>
                    }

                </div>

                <div class="cbp-l-grid-project">
                    <div id="grid-container3" class="cbp-l-grid-projects">
                        <ul>

                            @foreach (var project in Model.Projects)
                            {
                                Html.RenderPartial("~/Views/Shared/DisplayTemplates/Project.cshtml", project);
                            }

                        </ul>
                    </div>
                    <div class="cbp-l-loadMore-button">
                        <a href="@Url.Action(MVC.Home.Projects())" class="cbp-l-loadMore-button-link">
                            <i class="fa fa-plus-circle wow load pulse" data-wow-iteration="infinite" data-toggle="tooltip" data-placement="bottom" id="bottom" title="" data-original-title="Еще"></i>
                        </a>
                    </div>
                </div>
                <div class="pad45"></div>
            </div>
        </div>
    </div>
</section>

<div class="pad30"></div>
<section id="big_image"></section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 pad30  wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                <h2>For those fond of reading</h2>
                <div class="pad30"></div>

                <div id="grid-container2" class="cbp-l-grid-blog pad90">
                    <ul>
                        @foreach (var article in Model.Articles)
                        {
                            Html.RenderPartial("~/Views/Shared/DisplayTemplates/Article_en.cshtml", article);
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pad30"></div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">

                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    details
                </h1>

                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Do you need <strong>the unique application</strong> or innovative <strong>start-up</strong>?<br />
                    Or your <strong>business</strong> cries for <strong>automation</strong> ?<br />
                    Get in touch with us!
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <h2>Care to meet us?</h2>
                        <p>
                            Russian Federation, Kaliningrad,<br>
                            Litovsky Val st., <br />47a
                        </p>

                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-phone inverse"></i> <span class="inverse">+7 800 111 22 33</span></li>
                            <li><i class="fa-li fa fa-envelope inverse"></i> <a href="mailto:#">info@koniglabs.com</a></li>
                        </ul>

                    </div>

                    <div class="col-xs-12  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <div class="contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="ajax-contact-form">
                                    <input class="col-xs-12" type="text" name="Name" value="" placeholder="Your name" />
                                    <input class="col-xs-12" type="text" name="Email" value="" placeholder="Email" />
                                    <input class="col-xs-12" type="text" name="Phone" value="" placeholder="Phone" />
                                    <textarea name="Text" id="message" class="col-xs-12" placeholder="Your message"></textarea>
                                    <div class="clear"></div>
                                    <input type="submit" class="btn" value="Send" />
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pad60"></div>
</section>
<footer>
    <div class="center footer">
        <div class="wow bounce" data-wow-offset="80" data-wow-duration="2s">
            <a href="@Url.Action(MVC.Home.Index())#home" class=" scroll">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x "></i>
                    <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>

        <div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
            &copy; 2015 KonigLabs
        </div>
    </div>
</footer>
