@using KonigLabs.Models
@using KonigLabs.Core
@model ViewMember
@{
    ViewBag.Title = "Index_EN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div id="logo">
                <a class="scroll" href="#home"><img src="/Content/media/img/logo.png" alt="" /></a>
            </div>
            <ul id="menu">
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#home">Главная</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#about">Услуги</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#team">Команда</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#work">Наши работы</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Blog())">Блог</a></li>
                <li><a class="scroll" href="@Url.Action(MVC.Home.Index())#contact">Контакты</a></li>
                @switch (Model.Language)
                {
                    case LocalEntity.EN:
                        <li><a class="lang" href="@Url.ChangeLang(LocalEntity.RU)">Ru</a></li>
                        <li><a class="lang active" href="@Url.ChangeLang(LocalEntity.EN)">En</a></li>
                        break;
                    case LocalEntity.RU:
                        <li><a class="lang active" href="@Url.ChangeLang(LocalEntity.RU)">Ru</a></li>
                        <li><a class="lang" href="@Url.ChangeLang(LocalEntity.EN)">En</a></li>
                        break;
                }
            </ul>
            <div id="nav-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>
   
<div id="single">

    <div class="col-sm-12 col-lg-12">
    
        @Html.Raw(Model.Bio)

    </div>
</div>