@model KonigLabs.Models.ViewArticle

<li class="cbp-item">
    <a href="@Url.Action(MVC.Home.BlogPost(Model.Id))" class="cbp-caption"> 
        <div class="cbp-caption-defaultWrap">
            <img src="@Url.Content(Model.Image)" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-text">Read</div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action(MVC.Home.BlogPost(Model.Id))" class="cbp-l-grid-blog-title">@Model.Title</a>
    <div class="cbp-l-grid-blog-date">@Model.Date</div>
</li>