@model KonigLabs.Models.Article

@if (Model.HasImageForBlog())
{
    <img src="@Url.Content(Model.GetBlogImage())" alt="" />
}
<h1 class="blog-title"><a href="/BlogPost/@Model.Id">@Model.Title</a></h1>
<h6>
    @Model.GetDisplayDate()
    @if (Model.Categories.Count > 0)
    {
        var i = 0;
        <text>-</text>
        foreach (var category in Model.Categories)
        {
            if (i >= 1)
            {
                <text>, </text>
            }
            <a href="/Blog/?cat=@category.Id">@category.Name</a>
            i += 1;
        }
    }
</h6>
<p>
    @Model.GetSpoiler()&hellip;
</p>

<a href="/BlogPost/@Model.Id">подробнее</a> &rarr;
<div class="pad45"></div>