@model KonigLabs.Models.Article

@if (Model.HasImageForBlog())
{
    <img src="@Url.Content(Model.GetBlogImage())" alt="" />
}
@if (!String.IsNullOrEmpty(Model.EmbeddedMedia)) 
{ 
    <div class="vendor">@Html.Raw(Model.EmbeddedMedia)</div>
}
<h1 class="blog-title"><a href="@Url.Action(MVC.Home.BlogPost(Model.Id))">@Model.Title</a></h1>
<h6>
    @Model.GetDisplayDate()
    @if (Model.Categories.Count > 0)
    {
        var i = 0;
        <text>-</text>
        foreach (var category in Model.Categories)
        {
            if (i >= 1)
            {
                <text>, </text>
            }
            <a href="@Url.Action(MVC.Home.Blog(null,null,category.Id,null,string.Empty))">@category.Name</a>
            i += 1;
        }
    }
</h6>
<p>
    @Model.GetSpoiler()&hellip;
</p>

<a href="@Url.Action(MVC.Home.BlogPost(Model.Id))">подробнее</a> &rarr;
<div class="pad45"></div>