<div id="header">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div id="logo">
                <a href="@(Request.Url.AbsoluteUri.ToLower().Contains("en") ? "/en":"/")"><img src="/Content/media/img/logo.png" alt="" /></a>
            </div>
            <ul id="menu">
                <li><a href="@(Request.Url.AbsoluteUri.ToLower().Contains("en") ? "/en":"/")">Главная</a></li>
                <li><a href="/#about">Услуги</a></li>
                <li><a href="/#team">Команда</a></li>
                <li><a href="/#work">Наши работы</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/#contact">Контакты</a></li>
                @if (@Request.Url.AbsoluteUri.ToLower().Contains("post"))
                {

                }
                else
                {
                    <li><a class="@(Request.Url.AbsoluteUri.ToLower().Contains("en") ? "lang":"lang active")" href="/blog">Ru</a></li>
                    <li><a class="@(Request.Url.AbsoluteUri.ToLower().Contains("en") ? "lang active":"lang")" href="/blog/en">En</a></li>               
                }
            </ul>
            <div id="nav-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>