
@model KonigLabs.Models.ViewMember


<li class="cbp-item">
    <a href="@Url.Action(MVC.Home.Member(alias:Model.Alias))" class="cbp-caption">
            <figure class="eye" style="background-image:url(@Model.AnimateAvatar)"></figure>
    </a>
    <a href="@Url.Action(MVC.Home.Member(alias:Model.Alias))" >@Model.Name</a>
    <div class="cbp-l-grid-team-position">@Model.Title</div>
</li>