@model KonigLabs.Models.ViewProject

<div id="single">

    <div class="col-sm-12 col-lg-12">

        <h1 class="embo">@Model.Name</h1>
        <!-- CAROUSEL-->
        <div id="carousel" class="owl-carousel pad5">
            @foreach(var img in Model.Gallery)
            {
                <div class="item">
                    <img class="lazyOwl" data-src="@Url.Content(img)" alt="Image 2">
                </div>
            }
            
        </div>
        <!--//END-->
        @if (!String.IsNullOrEmpty(Model.Url))
        {
            <a target="_blank" href="@Model.Url" style="background: none repeat scroll 0% 0% #00F1EB;margin:10px 0 10px 0;display:inline-block;color:white;padding:5px;">Сайт1 проекта</a>
        }
        
        <div class="row pad30">
            @Html.Raw(@Model.Description)
        </div>
    </a>
</div>
<div class="pad90"></div>


<script>
	//<![CDATA[
		$(document).ready(function() {
			$("#carousel").owlCarousel({
			items : 2,
			lazyLoad : true,
			navigation : false
		});
	});
//]]>
</script>

